.body_company{
    width: 600px;
    height: 600px;
    border: 1px solid #c3c3c3; 
    margin: 50px auto;
    display: flex;
    justify-content: center;
  }
  
  .form-body_comp{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
